<?xml version="1.0" encoding="UTF-8" ?>
<!-- This Menu Item will appear in the Upper bar, That's why It needs NO parent or action -->
<odoo>
    <menuitem id="test_root" name="Tag" sequence="1"/>
    <menuitem id="exam_tag_menu" name="Tags" parent="test_root" action="action_tags" sequence="5"/>
    <menuitem id="exam_task_menu" name="Tasks" parent="test_root" action="action_tasks" sequence="10"/>
</odoo>
